html {  
  font: caption;  
}

.panel {
  margin: 5px;
  width: 200px;
}

.panel-header {  
  background-color: skyblue;
  color: white;
  font-size: large;
  margin-bottom: 8px;
  text-align: center;
}
